
.swc_header{
	width:100%;
	
}
div.clear {
    clear:both;
}
.swc_header_left{
	float:left;
	width:50%;
}
.swc_header_left img{
	width: 45%;
}
.swc_header_right{
	float:left;
	width:50%;
}
.swc_header_right img{
	float:right;
	margin-right:35px;
	width: 25%;
}

.wp-admin .swc-info-label { display: block; color: #555; font-style: italic; font-size: 10px; line-height: 1.5; }

.swc_left {
	float: left;
	width: 42%;
	padding: 10px;
	background-color: #fff;
}

.swc_left img{
	width: 100%;
}

.swc_right {
	float: left;
	margin-left: 25px;
	width: 25%;
	padding: 25px;
	background-color: #fff;
}

.swc_sidebar img{
	width:100%;
	height:auto;
}

.swc_sidebar{
	float: left;
	margin-left: 15px;
	width: 15%;
	padding: 25px;
	background-color: #fff;
}

@media only screen and (max-width: 782px) {
	.swc_left, .swc_right, .swc_sidebar{width: 100%; margin-left: 0px; margin-top: 20px;}
}
.swc_column {
}